<!DOCTYPE html>

<html lang="en">
    <head>
        <title>hello</title>
    </head>
    <body>
        <!-- Método GET -->
        <!-- <form action="/greet" method="get">
            <input autocomplete="off" autofocus placeholder="What's your first name?" name="first_name" type="text">
            <input type="submit">
        </form> -->

        <!-- Método POST -->
        <form action="/greet" method="POST">
            <input autocomplete="off" autofocus placeholder="What's your first name?" name="first_name" type="text">
            <input type="submit">
        </form>
    </body>
</html>