{% extends 'layout.html' %}

{% block title %} Portfolio {% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>

        {% for stock in wallet %}
            <tr>
                <td>{{ stock['symbol'] }}</td>
                <td>{{ stock['name'] }}</td>
                <td>{{ stock['shares'] }}</td>
                <td>{{ stock['price'] }}</td>
                <td>{{ stock['total'] }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cash }}</td>
        </tr>
        <tr class="total">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ total }}</td>
        </tr>

    </table>

{% endblock %}